* {
  box-sizing: border-box;
}

#q4Wrapper {
  background-color: #2A3035;
  font-family: "Roboto", sans-serif;
  color: white;
}
#q4Wrapper h1, #q4Wrapper h3 {
  margin: 0;
}
#q4Wrapper h1 {
  font-size: 48px;
}
#q4Wrapper h3 {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
#q4Wrapper header, #q4Wrapper footer {
  background-color: #22272B;
}
#q4Wrapper header {
  padding: 20px;
}
#q4Wrapper footer {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}
#q4Wrapper article {
  text-align: center;
}
#q4Wrapper article img {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}
#q4Wrapper a {
  display: inline-block;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease;
}
#q4Wrapper a:hover {
  transform: scale(1.05);
}
#q4Wrapper a span {
  opacity: 0.5;
}

.layout_inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 20px;
}
.layout_header {
  margin-bottom: 30px;
  text-align: center;
}

/* Begin styling the report items here! */
.reports {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.reports_item {
  padding: 0 15px;
}

.reports_docs {
  display: inline-block;
}

.reports_item img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}

.reports_item > a {
  padding: 0 15px;
}

.reports>.reports_item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.reports_item {
  min-width: 100%;
  max-width: 100%;
}

@media only screen and (min-width: 640px) {
  .reports_item {
    min-width: 50%;
    max-width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .reports_item {
    min-width: 33%;
    max-width: 33%;
  }
}